<main class="site-main">
  <div class="main-container">
    <slot />
  </div>
</main>

<style>
.site-main {
  display: block;
  padding: 4rem 1.5rem;
}

.main-container {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (max-width: 768px) {
  .site-main {
    padding: 3rem 1rem;
  }

  .main-container {
    gap: 3rem;
  }
}
</style>
